[Desktop Entry]
Type=Application
Name=Camera
Name[ar]=كاميرا
Name[bg]=Камера
Name[cs]=Kamera
Name[de]=Kamera
Name[es]=Cámara
Name[et]=Kaamera
Name[fi]=Kamera
Name[fr]=Caméra
Name[hu]=Kamera
Name[kmr]=Wênekêş
Name[pl]=Aparat
Name[pt_BR]=Câmera
Name[sv]=Kamera
Name[tr]=Kamera
Name[uk]=Камера
Name[zh_CN]=相机
Comment=Take photos, record video, and scan QR codes
Comment[cs]=Pořizujte fotografie, natáčejte videa a skenujte QR kódy
Comment[de]=Fotos aufnehmen, Videos aufzeichnen und QR-Codes scannen
Comment[fi]=Ota kuvia, tallenna videota ja skannaa QR-koodeja
Comment[fr]=Prendre des photos, enregistrer des vidéos, et scanner des QR codes
Comment[hu]=Fotók készítése, videók felvétele és QR-kódok beolvasása
Comment[pl]=Rób zdjęcia, nagrywaj filmy i skanuj kody QR
Comment[pt_BR]=Tire fotos, grave vídeos e escaneie códigos QR
Comment[sv]=Ta foton, spela in video och skanna QR-koder
Comment[uk]=Робіть знімки, записуйте відео й скануйте QR-коди
Comment[zh_CN]=照相、录制视频与扫描二维码
Icon=io.github.cosmic_utils.camera
Exec=camera
Terminal=false
Categories=AudioVideo;Video;Recorder;Photography;
Keywords=camera;webcam;photo;video;
Keywords[cs]=kamera;fotoaparát;webkamera;fotografie;video;
Keywords[de]=camera;webcam;photo;video;kamera;foto;
Keywords[fi]=kamera;verkkokamera;kuva;video;
Keywords[fr]=caméra ; webcam ; photo ; vidéo ;
Keywords[hu]=kamera;webkamera;fotó;videó;qr-kód;
Keywords[pl]=kamera;aparat;webowa;fotografia;zdjęcie;film;wideo;
Keywords[pt_BR]=camera;webcam;foto;video;
Keywords[sv]=kamera;webkamera;foto;video;
Keywords[uk]=камера;kamera;camera;вебкамера;знімок;фото;видиво;відео;запис;космік;photo;video;
Keywords[zh_CN]=相机;摄像头;照片;视频;
MimeType=
StartupNotify=true
X-GNOME-UsesNotifications=true
